{% extends "records/base.html" %}
{% block content %}
    {% for patient in patients %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">Case Number: {{ patient.CaseNumber }}</a>
            </div>
            <h5><a class="article-title" href="{% url 'records-detail' patient.pk %}">{{ patient.Name }}</a></h5>
          </div>
        </article>
    {% endfor %}
{% endblock content %}